<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>Add Customer</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                    <tr class="#{!name.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="name" for="name" />
                        </td>
                        <td>
                            <h:inputText id="name" value="#{customer.name}" title="Name" required="true" requiredMessage="Please enter the street number!" validatorMessage="Please enter name" pt:placeholder="Default Customer">
	    
							</h:inputText>
                            <br/>
                            <h:message for="name" class="#{!name.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>

                    <tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="streetNumber" for="streetNumber" />
                        </td>
                        <td>
                            <h:inputText id="streetNumber" value="#{customer.streetNumber}" title="streetNumber" required="true" requiredMessage="Please enter the streetNumber!" pt:placeholder="1000"/>
                            <br/>
                            <h:message for="streetNumber" class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                         <tr class="#{!street.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="street" for="street" />
                        </td>
                        <td>
                            <h:inputText id="street" value="#{customer.streetAddress}" title="street" required="true" requiredMessage="Please enter the street!" pt:placeholder="clayton road"/>
                            <br/>
                            <h:message for="street" class="#{!street.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
         
                    
                <tr class="#{!suburb.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="suburb" for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{customer.suburb}" title="suburb" required="true" requiredMessage="Please enter the suburb!" pt:placeholder="Caulfield East"/>
                        	<br/>
                            <h:message for="suburb" class="#{!suburb.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="state" for="state"/>
                        </td>
                        <td>
                            <h:inputText id="state"  value="#{customer.state}" title="state" size="3" required="true" requiredMessage="Please enter the state!" pt:placeholder="VIC"/>
                            <br/>
                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="postcode" for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postcode}"  title="postcode" required="true" requiredMessage="Please enter the postcode!" validatorMessage="Please enter a postcode between 0200 and 4700" converterMessage="Please enter a number" pt:placeholder="3145">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="200" maximum="4700" /> 
							</h:inputText>
							<br/>
							<h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    
                    
                    <tr class="#{!country.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="country" for="country" />
                        </td>
                        <td>
                            <h:inputText id="country" value="#{customer.country}" title="country" required="true" requiredMessage="Please enter the country!" pt:placeholder="AUS"/>
                        	<br/>
                            <h:message for="country" class="#{!country.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!found.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="found" for="found"/>
                        </td>
                        <td>
                            <h:inputText id="found" value="#{customer.foundingDate}" title="found"  required="true" validatorMessage="Founding Year Format:2000-01-01" requiredMessage="Please enter the foundation date!" pt:placeholder="2000-01-01">
                            <f:validateRegex  pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))"/>
                            </h:inputText>
                            <br/>
                            <h:message for="found" class="#{!found.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr>
							<td><h:outputLabel value="Industry Type:" for="industry" /></td>
							<td><h:selectOneMenu id="industry"
									value="#{customer.industryType}" converter="industry">
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItems value="#{customerManagedBean.allIndustry}"
										var="c" itemLabel="#{c.typeName}" itemValue="#{c}" />
								</h:selectOneMenu></td>
						</tr>
                    
                    <tr class="#{!introduction.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="introduction" for="introduction" />
                        </td>
                        <td>
                            <h:inputText id="introduction" value="#{customer.introduction}" title="type" required="true" requiredMessage="Please enter the Introduction"  pt:placeholder="Intro">
	           
							</h:inputText>
							<br/>
							<h:message for="introduction" class="#{!introduction.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                     <tr class="#{!website.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="website" for="website" />
                        </td>
                        <td>
                            <h:inputText id="website" value="#{customer.website}" title="website" required="true" requiredMessage="Please enter the website"  pt:placeholder="websitewww">
	           
							</h:inputText>
							<br/>
							<h:message for="website" class="#{!website.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                     <tr>
							<td><h:outputLabel value="User:" for="user" /></td>
							<td><h:selectOneMenu id="user"
									value="#{customer.user}" converter="user">
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItems value="#{customerManagedBean.allUsers}"
										var="c" itemLabel="#{c.username}" itemValue="#{c}" />
								</h:selectOneMenu></td>
						</tr>
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" 
                class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/admin/index"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

