<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>Add Industry</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Add Industry
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                    <tr class="#{!industryName.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="industry Name" for="industryName" />
                        </td>
                        <td>
                            <h:inputText id="industryName" value="#{industry.typeName}" title="industryName" required="true" requiredMessage="Please enter industry name!"  pt:placeholder="industryName">
	               
							</h:inputText>
                            <br/>
                            <h:message for="industryName" class="#{!industryName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>

                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addIndustry.addIndustry(industry)}" 
                class="btn btn-primary" >
    
                </h:commandButton>
            	<h:link id="close" value="Close" outcome="/admin/index" class="btn btn-primary" ></h:link>
  
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

