<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> 
 <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Contact</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Contact
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="Title" value="Title"/>
                            </td>
                        	<td> 
                                <h:outputLabel id="Mobile" value="Mobile"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="Email" value="Email"/>
                            </td>
                            
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{customerController.contactList}"  var="contact" varStatus="status"> 
                        
                        <tr> 
                            <td>
                                <h:outputText value="#{customerController.contactList.get(status.index).contactId}" id="contactId" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="outName" value="#{customerController.contactList.get(status.index).name}"  />
                            </td>
                            
                            <td>
                                <h:outputText id="outTitle" value="#{customerController.contactList.get(status.index).title}"/>
                            </td>
                       		<td> 
                                <h:outputText id="outMobile" value="#{customerController.contactList.get(status.index).mobilePhone}"  />
                            </td>
                            
                            <td>
                                <h:outputText id="outEmail" value="#{customerController.contactList.get(status.index).email}"/>
                            </td>
     						<td>
      
                                <h:link value="Edit" outcome="/admin/editContact">
                                
                                 <f:param name="contactID" value="#{status.index + 1}"/>   
                              </h:link>
                            </td>
                          
                        </tr> 

                    </ui:repeat>
                    
                </table> 
                <h:commandButton id="addContact" value="Add Contact" action="addContact.xhtml" class="btn btn-primary" >
               
                <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
               <h:link id="close" value="Close" outcome="/admin/index"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>

</html>

