<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>View Customer</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    View Customer
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{customerController.customer.name}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Address: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{customerController.customer.address}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Country: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Country" >#{customerController.customer.country}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Foundation Date: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Found" >#{customerController.customer.foundingDate}</h:outputLabel>    
                        </td>
                    </tr>
                      <tr>
                        <td width ="100" valign="top">Industry Type: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Type" >#{customerController.customer.industryType.typeName}</h:outputLabel>    
                        </td>
                    </tr>
                       <tr>
                        <td width ="100" valign="top">Introduction: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Introduction" >#{customerController.customer.introduction}</h:outputLabel>    
                        </td>
                    </tr>
                          <tr>
                        <td width ="100" valign="top">Website: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Website" >#{customerController.customer.website}</h:outputLabel>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">User: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "User" >#{customerController.customer.user.username}</h:outputLabel>    
                        </td>
                    </tr>
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="/admin/index"
						class="btn btn-primary" />
                
            </h:form>
        </div>
    </h:body>
</html>

