<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Edit Contact</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   Edit Contact
                </div>
            </div>
<h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactController.contact.contactId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Contact Name: </td>
   
                        <td valign="bottom">
                            <h:inputText id = "name" value="#{contactController.contact.name}" binding="#{name}" required="true"
                                         validatorMessage="Please enter contact name."
                                         requiredMessage="Please enter contact name. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Title: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "title" value="#{contactController.contact.title}"  required="true"
                                         validatorMessage="title"
                                                 requiredMessage="title"></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Mobile: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "mobilePhone" value="#{contactController.contact.mobilePhone}"  required="true"
                                         validatorMessage="mobile"
                                                 requiredMessage="mobile. ">
               
                            </h:inputText>    
                            
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Email: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "email" value="#{contactController.contact.email}"  required="true"
                                          validatorMessage="Email Format:example@gmail.com"
                                                 requiredMessage="Please enter the email! ">
                                                 <f:validateRegex  pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"/>
                                                 </h:inputText>    
                        </td>
                    </tr>
                    
                </table>
                 <h:commandButton id="save" value="Save" action="#{customerManagedBean.editContact(contactController.contact)}"  class="btn btn-primary" >
                    <f:param name="contactID" value="#{contactController.contactId+1}"/>
                </h:commandButton>
                <h:commandButton id="delete" value="Delete" action="#{removeContact.removeContact(contactController.contact.contactId)}"  class="btn btn-primary" >
                    <f:param name="contactID" value="#{contactController.contactId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/admin/index" class="btn btn-primary" >
   
                </h:link>
            </h:form>
            </div>
    </h:body>
</html>

