<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Edit Contact</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   Edit Contact
                </div>
            </div>
<h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Name: </td>
   
                        <td valign="bottom">
                            <h:inputText id = "name" value="#{customerController.customer.name}" binding="#{name}" required="true"
                                         validatorMessage="Please enter name."
                                         requiredMessage="Please enter name. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street Number: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "streetNumber" value="#{customerController.customer.address.streetNumber}"  required="true"
                                         validatorMessage="street number"
                                                 requiredMessage="street number"></h:inputText>    
                        </td>
                    </tr>
                       
                     <tr>
                        <td width ="100" valign="top">Street: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "street" value="#{customerController.customer.address.streetAddress}"  required="true"
                                         validatorMessage="street"
                                                 requiredMessage="street"></h:inputText>    
                        </td>
                    </tr>
                    
                     <tr>
                        <td width ="100" valign="top">Suburb: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "suburb" value="#{customerController.customer.address.suburb}"  required="true"
                                         validatorMessage="suburb"
                                                 requiredMessage="suburb"></h:inputText>    
                        </td>
                    </tr>
                    
                       <tr>
                        <td width ="100" valign="top">State: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "state" value="#{customerController.customer.address.state}"  required="true"
                                         validatorMessage="state"
                                                 requiredMessage="state"></h:inputText>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Postcode: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "postcode" value="#{customerController.customer.address.postcode}"  required="true"
                                         validatorMessage="postcode"
                                                 requiredMessage="postcode"></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Country: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "country" value="#{customerController.customer.country}"  required="true"
                                         validatorMessage="country"
                                                 requiredMessage="country ">
               
                            </h:inputText>    
                            
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Foundation Date: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "found" value="#{customerController.customer.foundingDate}"  required="true"
                                         validatorMessage="Founding Year Format:2000-01-01"
                                                 requiredMessage="Please enter the foundation date!">
                                                 <f:validateRegex  pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))"/> 
                                                 </h:inputText>    
                        </td>
                    </tr>
                    
                       <tr>
							<td><h:outputLabel value="Industry Type:" for="industry" /></td>
							<td><h:selectOneMenu id="industry"
									value="#{customerController.customer.industryType}" converter="industry">
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItems value="#{customerManagedBean.allIndustry}"
										var="c" itemLabel="#{c.typeName}" itemValue="#{c}" />
								</h:selectOneMenu></td>
						</tr>
               
               
               
                        <tr>
                        <td width ="100" valign="top">Introduction: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "introduction" value="#{customerController.customer.introduction}"  required="true"
                                         validatorMessage="introduction"
                                                 requiredMessage="introduction"></h:inputText>    
                        </td>
                    </tr>
                    
                         <tr>
                        <td width ="100" valign="top">Website:</td>
                        
                        <td valign="bottom">
                            <h:inputText id = "website" value="#{customerController.customer.website}"  required="true"
                                         validatorMessage="website"
                                                 requiredMessage="website"></h:inputText>    
                        </td>
                    </tr>
                    
                          <tr>
							<td><h:outputLabel value="User:" for="user" /></td>
							<td><h:selectOneMenu id="user"
									value="#{customerController.customer.user}" converter="user">
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItems value="#{customerManagedBean.allUsers}"
										var="c" itemLabel="#{c.username}" itemValue="#{c}" />
								</h:selectOneMenu></td>
						</tr>
                </table>
                 <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
         		
         		<h:commandButton id="delete" value="Delete" action="#{removeCustomer.removeCustomer(customerController.customer.customerId)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/admin/index" class="btn btn-primary" >
   
                </h:link>
            </h:form>
            </div>
    </h:body>
</html>

