<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Edit Industry</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   Edit Industry
                </div>
            </div>
<h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{industryController.industry.industryId}</h:outputLabel>    
                        </td>
                    </tr>
                 
                    <tr>
                        <td width ="100" valign="top">Industry Type Name:</td>
                        
                        <td valign="bottom">
                            <h:inputText id = "name" value="#{industryController.industry.typeName}"  required="true"
                                         validatorMessage="Industry Type Name"
                                                 requiredMessage="Industry Type Name"></h:inputText>    
                        </td>
                    </tr>
                    
                    
                </table>
                 <h:commandButton id="save" value="Save" action="#{customerManagedBean.editIndustry(industryController.industry)}"  class="btn btn-primary" >
                    <f:param name="industryID" value="#{industryController.industryId+1}"/>
                </h:commandButton>

                <h:link id="close" value="Close" outcome="/admin/index" class="btn btn-primary" >
   
                </h:link>
            </h:form>
            </div>
    </h:body>
</html>

