<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> 
 <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Administration Area</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   #{userController.userName}
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="Address" value="Address"/>
                            </td>
                            <td> 
                                <h:outputLabel id="Country" value="Country"  />
                            </td>
                               <td> 
                                <h:outputLabel id="IndustryType" value="Industry Type"  />
                            </td>
                            
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status"> 
                        
                        <tr> 
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).customerId}" id="customerID" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="outName" value="#{customerApplication.customers.get(status.index).name}"  />
                            </td>
                            
                            <td>
                                <h:outputText id="outAddress" value="#{customerApplication.customers.get(status.index).address}"/>
                            </td>
                            
                            <td>
                                <h:outputText id="outCountry" value="#{customerApplication.customers.get(status.index).country}"/>
                            </td>
                            <td>
                                <h:outputText id="outIndustry" value="#{customerApplication.customers.get(status.index).industryType.typeName}"/>
                            </td>
    
                          <td>
                                <h:link value="View" outcome="/admin/customerDetail">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                	<h:link value="Edit" outcome="/admin/edit">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                 <h:link value="View Contact" outcome="/admin/contact">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
 							
                    
                            </td>
                            
                        </tr> 

                    </ui:repeat>
                    
                </table> 
                <div>
                Country:
                <h:inputText value="#{searchCustomer.country}" id="searchByCountry" />
                Industry Type:
                <h:selectOneMenu id="industry" value="#{searchCustomer.industryTypeId}">
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItems value="#{customerManagedBean.allIndustry}"
										var="c" itemLabel="#{c.typeName}" itemValue="#{c.industryId}" />
				</h:selectOneMenu>
                  <h:commandButton id="searchByCountryIndustry" value="Search By Country and Industry Type" action="#{searchCustomer.searchCustomerByCountryAndIndustry(searchCustomer.country,searchCustomer.industryTypeId)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                      <h:commandButton id="searchAll" value="All Customer" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                
                </div>
                
                <div>
                    <h:commandButton id="add" value="Add Customer" action="/admin/add" class="btn btn-primary" />
                </div>
                <div>
                	<h:commandButton id="manageUser" value="Manage Users" action="/admin/manageUser" class="btn btn-primary" />
                </div>
                <div>
                    <h:commandButton id="manageIndustry" value="Manage Industry Type" action="/admin/manageIndustry" class="btn btn-primary" />
               </div>
            </h:form>
        </div>
    </h:body>

</html>

<!--   -->

