<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> 
 <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Manage User</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   Manage User
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="User Name"  />
                            </td>
          
                            
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{customerApplication.users}"  var="user" varStatus="status"> 
                        
                        <tr> 
                            <td>
                                <h:outputText value="#{customerApplication.users.get(status.index).userId}" id="userID" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="outName" value="#{customerApplication.users.get(status.index).username}"  />
                            </td>
   
                          <td>
                                
                                <h:link value="Modify Password |" outcome="/admin/editUser">

                                  <f:param name="userID" value="#{status.index + 1}"/>
                                </h:link>

                      
                 				<h:commandLink value="Delete" action="#{removeUser.removeUser(customerApplication.users.get(status.index).userId)}" disabled="#{customerApplication.users.get(status.index).userId == null}">
                                </h:commandLink>
 							
                    
                            </td>
                            
                        </tr> 

                    </ui:repeat>
                    
                </table> 
                  
                  <h:commandButton id="add" value="Add User" action="/admin/addUser" class="btn btn-primary" />
                        
                  <h:link id="close" value="Close" outcome="/admin/index" class="btn btn-primary" > </h:link>
   
               
            </h:form>
        </div>
    </h:body>

</html>

<!--   -->

