<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>Add Contact</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Add Contact
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                    <tr class="#{!contactName.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="Name" for="contactName" />
                        </td>
                        <td>
                            <h:inputText id="contactName" value="#{contact.name}" title="contactName" required="true" requiredMessage="Please enter contact name!"  pt:placeholder="Name">
	               
							</h:inputText>
                            <br/>
                            <h:message for="contactName" class="#{!contactName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>

                    <tr class="#{!contactTitle.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Title" for="contactTitle" />
                        </td>
                        <td>
                            <h:inputText id="contactTitle" value="#{contact.title}" title="contactTitle" required="true" requiredMessage="Please enter the title!" pt:placeholder="Title"/>
                            <br/>
                            <h:message for="contactTitle" class="#{!contactTitle.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!contactMobile.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Mobile" for="contactMobile" />
                        </td>
                        <td>
                            <h:inputText id="contactMobile" value="#{contact.mobilePhone}" title="contactMobile" required="true" requiredMessage="Please enter the mobile!" pt:placeholder="mobile"/>
                        	<br/>
                            <h:message for="contactMobile" class="#{!contactMobile.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!contactEmail.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Email" for="contactEmail"/>
                        </td>
                        <td>
                            <h:inputText id="contactEmail"  value="#{contact.email}" title="contactEmail"  required="true" requiredMessage="Please enter the email!" validatorMessage="Email Format:example@gmail.com" pt:placeholder="email">
                            <f:validateRegex  pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"/>
                            </h:inputText>
                            <br/>
                            <h:message for="contactEmail" class="#{!contactEmail.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addContact.addCustomer(userCustomerController.customer,contact)}" 
                class="btn btn-primary" >
               <f:param name="customerID" value="#{userCustomerController.customerId+1}"/>
                </h:commandButton>
            
             <h:link id="close" value="Close" outcome="/user/index" class="btn btn-primary" >
   
                </h:link>
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

