<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"> 
 <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>User Area</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    Welcome!  #{userController.user.username}
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="Address" value="Address"/>
                            </td>
                            <td> 
                                <h:outputLabel id="Country" value="Country"  />
                            </td>
                            
                     </tr>
                     
                     <ui:repeat id="Myrepeat" value="#{userController.customerList}"  var="customer" varStatus="status"> 
                        
                        <tr> 
                            <td>
                                <h:outputText value="#{userController.customerList.get(status.index).customerId}" id="customerID" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="outName" value="#{userController.customerList.get(status.index).name}"  />
                            </td>
                            
                            <td>
                                <h:outputText id="outAddress" value="#{userController.customerList.get(status.index).address}"/>
                            </td>
                            
                            <td>
                                <h:outputText id="outCountry" value="#{userController.customerList.get(status.index).country}"/>
                            </td>
                            
    
                          <td>
                                <h:link value="View" outcome="/user/customerDetail">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                	<h:link value="Edit" outcome="/user/edit">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                 <h:link value="View Contact" outcome="/user/contact">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
 							
                    
                            </td>
                            
                        </tr> 

                    </ui:repeat>
                    
                </table> 
                
                <div>
           
                	<h:commandButton id="add" value="Add Customer" action="/user/add" class="btn btn-primary" />
            
                  
              
                    <h:commandButton id="editPassword" value="Modify Password" action="/user/password" class="btn btn-primary" />
               </div>
            </h:form>
        </div>
    </h:body>

</html>

<!--   -->

