<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>Modify Password</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   Modify Password
                </div>
            </div>
        </div>
<div class="container">  
   <h:form id="ajaxForm">

    <h:inputSecret id="oldPassword" value="#{checkPassword.checkPsw}"></h:inputSecret>
    <h:commandButton value="Validate old password" class="btn btn-primary">
     <f:ajax execute="oldPassword" render="output" />
    </h:commandButton>
    <h:outputText id="output" value="#{checkPassword.checkPasswordCorrect()}" />   
   </h:form>  
 </div>
            
 <div class="container">  
	<h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="100" valign="top">New Password: </td>
   
                        <td valign="bottom">
                            <h:inputText id = "password" value="#{userController.password}"  required="true"
                                         validatorMessage="Length of Password must be between 5-20, Contains at least 1 digit,lower case,uppercase"
                                         requiredMessage="Please enter new password. ">
                                         
                                         <f:validateRegex  pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,20})"/>
                            </h:inputText>    
                        </td>
                    </tr>
                  
                </table>
                 <h:commandButton id="save" value="Save" action="#{customerManagedBean.editUser(userController.user,userController.password)}"  class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/user/index" class="btn btn-primary" >
   
                </h:link>
            </h:form>
            </div>
    </h:body>
</html>

